body{
    background-color: #2E1E0F;
    font-family: monospace, serif;
    color: #A2A79E;
}
.titulo{
    color: #A2A79E;
    background-color: #88292F;
}
.listas{
    line-height: 30px;
}
.links{
    background-color: #A2A79E;
}