body{
    background-color: #2e1e0ff1;
    font-family: monospace, serif;
    color: #A2A79E;
}
.titulo{
    color: #A2A79E;
    background-color: #88292F;
}
.listas{
    line-height: 30px;
    font-size: 20px;
    border-style: solid;
    border-radius: 8px;
}
.links{
    background-color: #A2A79E;
}
img{
    display: block;
    margin: 0px auto;
    border-style: solid;
    border-radius: 50%;
}
h1, h3{
    border-radius: 8px;
    padding: 15px 50px;
}
