*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/wallpaperbetter.com_1920x1080.jpg');
    font-family: monospace, serif;
    color: #dbdbdb;
}

#header {
    font-weight:bolder;
    font-size: 50px;
    color: #dbdbdb;
    background-color: rgb(43, 42, 42);
    text-align: center;
    margin: auto;
    width: 80%;
    border: 5px inset #daa520 ;
}

.titulo {
    color: #dbdbdb;
    /* background-color: rgb(43, 42, 42); */
    background-image: url('../img/black-wallpaper-hd-1.jpg');
    text-align: center;
    margin: 25px auto;
    width: 50%;
    border: 5px inset #dbdbdb ;
    
}

.listas {
    line-height: 50px;
    font-size: 20px;
    border-style: solid;
    border-radius: 8px;
    width: 20%;
    padding: 0% 5%;
    margin: auto;
    text-align: center;
    background-color: rgb(43, 42, 42);
}

.links {
    color: #dbdbdb;
    text-decoration: none;
}

.links:hover{
    background-color: #dbdbdb;
    border-radius: 10px;
    color:rgb(43, 42, 42);
    text-decoration: underline;
    padding: 0 15px;
}

#div-minhaFoto{
    background-image: url('../img/vecteezy_black-background_gb1020.jpg');
    background-size: cover; 
    background-position: 0% 25%;
}

.img-center{
    text-align: center
}

img {
    border: 10px ridge #daa520 ;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 350px;
}

h1, h3 {
    border-radius: 8px;
    padding: 15px 50px;
}

.my-txt{
    border-style: solid;
    border-radius: 8px;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgb(43, 42, 42);
    line-height: 35px;
}

.end{
    margin-bottom: 25px;
}